*{
    margin: 0;
}
body {
    background: red;
}
.loading-mask {
  position: fixed;
  z-index: 9999;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.loading-mask.is-remove {
  top: -120%;
  height: 0;
}
img {
    width:100%;
    max-width:100%;
}
